div.figure {
	max-width: 45%;
	float: right;
	margin: 0pt 0pt 1ex 1rem;
	background: white;
}

div.figure img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

div.full {
	width: 100%;
	max-width: max-content;
	margin: 4pt 0pt;
	float: none;
	margin: 1ex auto;
}

div.full img {
	max-height: max-content;
}


p {
	text-align: left;
	-webkit-hyphens: auto;
	hyphens: auto;
}

p.caption {
	margin-top: 1ex;
	font-size: 80%;
	font-style: italic;
	padding-left: 1ex;
}

html {
	background-color: #452;
}

body > div {
	max-width: 50rem;
	width: 90%;
	margin: 4pt auto;
	padding: 0pt 0pt;
	font-family: sans;
	font-size: 12pt;
	background-color: white;
}

#page {
	padding: 1pt 1ex;
}

h1 {
	color: #14a;
	font-size: 170%;
	padding: 1ex 1ex;
	background-color: #bc9;
	margin-bottom: 2ex;
}

div.dates {
	margin-top: -4ex;
	margin-left: -1ex;
	margin-right: -1ex;
	margin-bottom: 2ex;
	background-color: #deb;
	padding: 1ex 1ex;
	font-style: italic;
	font-size: 90%;
}

.top-info {
	background-color: #452;
	list-style-type: none;
	padding-left: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2ex 2pt 1ex 2pt;
	color: white;
	font-size: 80%;
}

a {
	text-decoration: none;
	border-bottom: 1pt solid #ddf;
}

a:hover {
	text-decoration: underline;
	border-bottom: none;
}

blockquote {
	background-color: #f5f5f5;
	border-top: 0.5pt solid #eee;
	border-bottom: 0.5pt solid #eee;
	padding: 3pt 1em;
	font-size: 95%;
	-webkit-hyphens: auto;
	hyphens: auto;
}

p.attribution {
	text-align: right;
	font-style: italic;
}

div.line-block {
	margin-left: 1em;
	font-family: serif;
	font-size: 95%;
}

div.line {
	margin-top: 2pt;
}

hr.footer {
	display: none;
}

table.footnote {
	margin-top: 1ex;
	font-size: 85%;
}

a.footnote-reference, a.fn-backref {
	display: inline-block;
	text-decoration: none;
	position: relative;
	font-size: 80%;
	bottom: 4pt;
}

#foot-material a, .top-info a {
	color: #aaaaee;
}

#foot-material {
	background-color: #452;
	color: white;
	padding: 1ex 1.5ex;
}

#foot-material p {
	margin: 0pt;
}

.branding {
	font-size: 110%;
	font-weight: bold;
}

.original-container * {
	display: none;
}

.original-header:hover ~ * {
	display: block;
	padding: 0.2ex 2pt 0.2ex 4em;
	margin-top: 0;
	margin-right: 0;
	margin-left: 5%;
	background-color: #FFFFFF;
	background-image:url(/theme/image/quotation.png);
	background-position: top left;
	background-repeat: no-repeat;
	font-size: 92%;
	text-align: right;
}

.original-header:hover {
	font-weight: bold;
	font-size: 120%;
	background-color: #FFFFFF;
	margin-left: 5%;
	margin-bottom: 0;
}

.original-container .original-header {
	display:block;
	text-align: right;
	font-style: italic;
	color: #414abe;
}


@media(max-width: 13cm) {
	div.figure {
		max-width: 95%;
		float: none;
		margin: 4pt auto;
	}

	div.figure img {
		max-height: 9cm;
		width: 100%;
		max-width: 95vw; 
	}

	div.full {
		width: 100%;
		max-width: max-content;
		margin: 4pt 0pt;
	}

	div.full img {
		max-height: max-content;
	}

	.branding {
		display: none;
	}

	body {
		width: 100%;
		margin: 0;
	}

	body > div {
		width: 100%;
		margin: 0;
	}
}
